p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.red {
  font-weight: bold;
  color: red
}

.blueBackground {
  line-height: 1.3;
  padding: .5em;
  background-color: white;
  background: rgba(100, 149, 237, 0.3);
  border: 1px solid gray;
  border-radius: 10px;
  width: 85%;
  font-size: 12px;
  }

.underline{
  text-decoration: underline
}

.sidenote{
font-weight: bold;
background-color: white;
background: rgba(220, 220, 180, 0.3);
}

.instructorNote{
font-weight: bold;
background-color: white;
background: rgba(220, 0, 180, 0.3);
}